.App {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 500px;
	width: 350px;
	background-color: #243763;
	border: 2px solid #FF6E31;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	color: #AD8E70;
}

.App-title {
	/* position: absolute; */
	width: 100%;
	height: 30%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.App-line {
	width: 100%;
	height: 1px;
	background-color: #FF6E31;
}
.App-body {
	width: 100%;
	height: 70%;
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.App-logo {
	height: 30px;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
