.button {
	width: 80%;
	height: 30px;
	font-size: 22px;
	background-color: #ad8e70;
	color: #243763;
	border: 1px solid #ad8e70;
	border-radius: 8px;
}

.button:hover {
	background-color: #243763;
	color: #ad8e70;
}
